@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';
.album-tracks{
    margin-top: 20px;
    margin-bottom: 20px;
    .panel{
        @include border-radius(0);
        .table{
            border: none;
            background: rgba(0, 0, 0, 0.7);
            color: $white;
            @include border-radius(0);
            tr{
                td{
                    border-top: 1px solid $gray;
                }
            }
        }
    }
}