<div class="container" *ngIf="album">
  <div class="col-lg-3 col-xs-12">
    <div class="album-cover row text-center">
      <img src="{{album.artworkUrl100}}" alt="" class="row col-lg-12 col-xs-12">
    </div>
  </div>
  <div class="col-lg-8 col-xs-12">
    <h1>{{album.collectionName}}</h1>
    <h3>by {{album.artistName}}</h3>
    <h4>Genre: {{album.primaryGenreName}}</h4>
  </div>
  <div class="row col-lg-12 col-xs-12 album-tracks" *ngIf="tracks">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <th></th>
          <th>Track name</th>
          <th>Release Date</th>
          <th>Price</th>
        </tr>
        <tr *ngFor="let track of tracks; let i = index;">
          <td>{{i+1}}</td>
          <td>{{track.trackName}}</td>
          <td>{{track.releaseDate | date:'longDate'}}</td>
          <td>{{track.trackPrice | currency: track.currency}}</td>
        </tr>
      </table>
    </div>

  </div>
</div>