@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';
.thumbnail{
    @include border-radius(0);
    background-color: rgba(0, 0, 0, 0.9);
    border: none;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 15px;
    @media only screen and (max-width : 480px) {
        margin-bottom: 1px;
        margin-top: 0;
    }

    img{
        padding-left: 0;
        padding-right: 0;
    }
    .caption{
        padding-top: 0;
        padding-bottom: 0;
        min-height: 81px;
        h6, h4{
            color: $white;
        }
    }
}