<div class="container">
  <div *ngIf="albumsCount > 0">
    <div class="row col-lg-12 col-xs-12 col-md-12 col-sm-12">
      <div class="pull-left">
        <h4>Albums</h4>
      </div>
      <div class="pull-right">
        <div class="form-horizontal">
          <div class="form-group">
            <select [ngModel]="selectedOrder" class="form-control" (ngModelChange)="setOrder($event)">
              <option *ngFor="let o of orders" [value]="o">{{o}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-sm-4 col-md-3 col-xs-12" *ngFor="let album of albums | orderBy: order:reverse">
        <a routerLink="/album/{{album.collectionId}}">
        <div class="thumbnail">
          <img src="{{album.artworkUrl100}}" width="100%" alt="" class="row hidden-xs col-lg-12 col-md-12 col-sm-12" />
          <img class="row visible-xs col-xs-3" width="100%" src="{{album.artworkUrl60}}" alt="...">
          <div class="caption col-lg-12 col-sm-12 col-md-12 col-xs-8">
            <h4>{{ (album.collectionName.length > 20) ? (album.collectionName | slice:0:20) + '...' : (album.collectionName) }}</h4>
            <h6>{{ (album.artistName.length > 35) ? (album.artistName | slice:0:35) + '...' : (album.artistName)}}</h6>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="albumsCount <= 0" class="text-center">There's no album for your search. Please try a different term</div>
</div>