<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header col-lg-12 col-xs-12 col-md-12 col-sm-12">
            <a routerLink="/home" routerLinkActive="active" class="navbar-brand col-sm-6 col-md-6 col-lg-6 col-xs-12">
                iTunes
            </a>
            <div class="navbar-form col-sm-6 col-md-6 col-lg-6 col-xs-12 pull-right" role="search">
                <div class="form-group">
                    <input #search type="text" [(ngModel)]="searchText"
                     class="form-control" placeholder="Search Albums" 
                     (focus)="animate()"
                     (focusout)="animate()"
                     [@searchBarAnimation]="state"
                     (keyup.enter)="getAlbums(search.value)">
                </div>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>