/* You can add global styles to this file, and also import other style files */
@import '/assets/sass/variables';
@import '/assets/sass/mixins';
body{
    background: url('/assets/images/bg.jpg') no-repeat;
    background-size: cover;
    font-family: Roboto;
}
